<div class="jumbotron hero-box" style="background-image:url('http://www-optimized.djicdn.com/assets/images/products/phantom-3-standard/aircraft/s1-bg-4b35ad211274441c1d25e6b11387c3d2_80.webp')">
</div>
<div class="container">
  <div class="row">
    {{drone-list model=model}}
  </div>
</div>
